## Dataset Exploration
- https://github.com/JamesSaxon/neighborhood_broadband

In [1]:
%%capture
! pip install -r ../requirements.txt

In [2]:
import os
import pandas as pd
import geopandas as gp

In [3]:
cwd = os.getcwd()

In [4]:
dataset_path = os.path.join(cwd, "..", "data", "UChicago-CDAC")

In [5]:
ACS_DATA_FILE   = os.path.join(dataset_path, "acs_2019.csv.gz")
COUNTY_DATA_FILE= os.path.join(dataset_path, "tl_2020_us_county.zip")

In [6]:
# State specific files
STATE_IDENTIFIER= 6
FCC_DATA_FILE   = os.path.join(dataset_path, "California", "fcc_477_census_tract_CA.csv")
SPDF_DATA_FILE  = os.path.join(dataset_path, "California", "ca_spdf.zip")
OOKLA_DATA_FILE = os.path.join(dataset_path, "California", "ookla_combined_ca.csv")

#### U.S. county boundaries - https://www2.census.gov/geo/tiger/TIGER2020/COUNTY/tl_2020_us_county.zip

In [7]:
counties = gp.read_file(COUNTY_DATA_FILE)

In [8]:
counties

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,31,039,00835841,31039,Cuming,Cuming County,06,H1,G4020,None,None,None,A,1477645345,10690204,+41.9158651,-096.7885168,"POLYGON ((-97.01952 42.00410, -97.01952 42.004..."
1,53,069,01513275,53069,Wahkiakum,Wahkiakum County,06,H1,G4020,None,None,None,A,680976231,61568965,+46.2946377,-123.4244583,"POLYGON ((-123.43639 46.23820, -123.44759 46.2..."
2,35,011,00933054,35011,De Baca,De Baca County,06,H1,G4020,None,None,None,A,6016818946,29090018,+34.3592729,-104.3686961,"POLYGON ((-104.56739 33.99757, -104.56772 33.9..."
3,31,109,00835876,31109,Lancaster,Lancaster County,06,H1,G4020,339,30700,None,A,2169272970,22847034,+40.7835474,-096.6886584,"POLYGON ((-96.91075 40.78494, -96.91075 40.790..."
4,31,129,00835886,31129,Nuckolls,Nuckolls County,06,H1,G4020,None,None,None,A,1489645188,1718484,+40.1764918,-098.0468422,"POLYGON ((-98.27367 40.08940, -98.27367 40.089..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,13,123,00351260,13123,Gilmer,Gilmer County,06,H1,G4020,None,None,None,A,1103886631,12283371,+34.6905055,-084.4546244,"POLYGON ((-84.65478 34.66559, -84.65488 34.669..."
3230,27,135,00659513,27135,Roseau,Roseau County,06,H1,G4020,None,None,None,A,4329730563,16913419,+48.7610683,-095.8215042,"POLYGON ((-96.40466 48.80528, -96.40467 48.813..."
3231,28,089,00695768,28089,Madison,Madison County,06,H1,G4020,298,27140,None,A,1850178949,71697237,+32.6343703,-090.0341603,"POLYGON ((-90.09363 32.70763, -90.09360 32.707..."
3232,48,227,01383899,48227,Howard,Howard County,06,H1,G4020,None,13700,None,A,2333039143,8841781,+32.3034298,-101.4387208,"POLYGON ((-101.69227 32.27106, -101.69221 32.2..."
3233,54,099,01550056,54099,Wayne,Wayne County,06,H1,G4020,170,26580,None,A,1310547891,15816947,+38.1436416,-082.4226659,"POLYGON ((-82.59529 38.36978, -82.59515 38.369..."

In [9]:
counties_ca = counties.loc[counties['STATEFP'] == '06']
counties_ca.head()

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
8,06,091,00277310,06091,Sierra,Sierra County,06,H1,G4020,None,None,None,A,2468694582,23299110,+39.5769252,-120.5219926,"POLYGON ((-120.65559 39.69356, -120.65552 39.6..."
325,06,067,00277298,06067,Sacramento,Sacramento County,06,H1,G4020,472,40900,None,A,2500040418,75346029,+38.4501363,-121.3443291,"POLYGON ((-121.18857 38.71431, -121.18731 38.7..."
329,06,083,00277306,06083,Santa Barbara,Santa Barbara County,06,H1,G4020,None,42200,None,A,7080860393,2729213352,+34.5366774,-120.0383645,"MULTIPOLYGON (((-120.73429 34.90069, -120.7343..."
346,06,009,01675885,06009,Calaveras,Calaveras County,06,H1,G4020,None,None,None,A,2641837359,43789489,+38.1910682,-120.5541065,"POLYGON ((-120.63093 38.34110, -120.63057 38.3..."
394,06,111,00277320,06111,Ventura,Ventura County,06,H1,G4020,348,37100,None,A,4767622152,947345735,+34.3587477,-119.1331453,"MULTIPOLYGON (((-119.32922 34.22784, -119.3292..."

### ACS Dataset
- XXYYYZZZZZZZZZZZZZ (X=State, Y=Country, Z=Census Tract) -> https://www.census.gov/programs-surveys/geography/guidance/geo-identifiers.html
- Wigle https://wigle.net/

In [10]:
acs_df = pd.read_csv(ACS_DATA_FILE)

In [11]:
acs_df_ca = acs_df[acs_df["state"]==STATE_IDENTIFIER]
acs_df_ca

,state,county,tract,geoid,f_broadband,f_computer,f_ba,f_black,f_hispanic,log_mhi,...,nhh_computer_and_broadband,nhh_computer_no_internet,nhh_no_computer,den_age,n_children,n_children_computer,n_children_computer_and_dialup,n_children_computer_and_broadband,n_children_computer_no_internet,n_children_no_computer
3560,6,1,400100,6001400100,0.957,0.965,0.867,0.055,0.038,12.30,...,1232,16,45,3120,487,487,0,487,0,0
3561,6,1,400200,6001400200,0.980,0.993,0.865,0.043,0.087,12.15,...,830,5,6,1914,369,369,0,369,0,0
3562,6,1,400300,6001400300,0.891,0.912,0.720,0.106,0.069,11.65,...,2162,64,215,5011,787,787,0,787,0,0
3563,6,1,400400,6001400400,0.958,0.994,0.759,0.093,0.121,11.78,...,1727,65,10,3957,744,744,0,744,0,0
3564,6,1,400500,6001400500,0.928,0.979,0.680,0.240,0.095,11.65,...,1491,53,33,4124,596,596,0,596,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11612,6,115,40800,6115040800,0.880,0.923,0.184,0.002,0.158,11.26,...,1503,84,132,4626,890,880,0,836,44,10
11613,6,115,40901,6115040901,0.754,0.926,0.160,0.017,0.175,11.00,...,779,168,77,2703,565,524,0,449,75,41
11614,6,115,40902,6115040902,1.000,1.000,0.307,0.121,0.198,10.81,...,341,0,0,1026,389,389,0,389,0,0
11615,6,115,41000,6115041000,0.859,0.933,0.305,0.042,0.129,11.37,...,2437,211,189,7298,1913,1876,0,1708,168,37
11616,6,115,41100,6115041100,0.756,0.851,0.275,0.048,0.095,10.85,...,1466,158,288,4089,895,880,0,855,25,15

### Oookla Dataset
- https://github.com/teamookla/ookla-open-data/blob/master/tutorials/aggregate_by_county_py.ipynb

In [12]:
ookla_df_ca = pd.read_csv(OOKLA_DATA_FILE)

In [13]:
ookla_df_ca

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,type,quarter,year,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,tile
0,230132213022331,150296,18042,13,49,20,fixed,Q1,2021,6,73,3115,1400000US06073003115,6073003115,31.15,CT,1532911,0,"list(c(-117.031860351562, -117.0263671875, -11..."
1,230121200021331,177210,14681,10,25,5,fixed,Q1,2021,6,79,10707,1400000US06079010707,6079010707,107.07,CT,14046662,10955892,"list(c(-120.855102539062, -120.849609375, -120..."
2,230102300101221,141195,9852,15,36,17,fixed,Q1,2021,6,1,433700,1400000US06001433700,6001433700,4337.00,CT,1311721,0,"list(c(-122.118530273438, -122.113037109375, -..."
3,230132002000102,185117,13621,13,77,27,fixed,Q1,2021,6,37,532101,1400000US06037532101,6037532101,5321.01,CT,1383491,52594,"list(c(-118.10302734375, -118.097534179688, -1..."
4,230102321131320,31037,35988,38,12,2,fixed,Q1,2021,6,85,512200,1400000US06085512200,6085512200,5122.00,CT,262653293,2006686,"list(c(-121.66259765625, -121.657104492188, -1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361846,230133212201211,134850,23832,24,6,2,mobile,Q2,2021,6,25,940000,1400000US06025940000,6025940000,9400.00,CT,114035418,3024505,"list(c(-114.548950195312, -114.54345703125, -1..."
361847,230133212201300,44735,5704,31,2,1,mobile,Q2,2021,6,25,940000,1400000US06025940000,6025940000,9400.00,CT,114035418,3024505,"list(c(-114.54345703125, -114.537963867188, -1..."
361848,230133212203121,29031,6718,66,1,1,mobile,Q2,2021,6,25,940000,1400000US06025940000,6025940000,9400.00,CT,114035418,3024505,"list(c(-114.537963867188, -114.532470703125, -..."
361849,230133212223222,18932,5928,86,1,1,mobile,Q2,2021,6,25,940000,1400000US06025940000,6025940000,9400.00,CT,114035418,3024505,"list(c(-114.5654296875, -114.559936523438, -11..."
361850,230133212303221,40171,23427,30,2,1,mobile,Q2,2021,6,25,940000,1400000US06025940000,6025940000,9400.00,CT,114035418,3024505,"list(c(-114.384155273438, -114.378662109375, -..."

In [14]:

# Census Tract = STATE+COUNTY+TRACT = 2+3+6=11 = Census Tract 2231 in Harris County, TX = 48201223100
def split_geo_id_item(item):
    if item:
        item_str = "%11d" % item
        state  = item_str[0:2].strip()
        county = item_str[2:5].strip()
        geoid  = item_str[5:].strip()
    else:
        county = None
        state = None
        geoid = None
    return pd.Series([state, county, geoid], index=['state','county','geoid'])


ookla_df_ca[['state_v1','county_v1','geoid_v1']] = ookla_df_ca['GEOID'].apply(split_geo_id_item)
ookla_df_ca

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,type,quarter,year,STATEFP,...,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,tile,state_v1,county_v1,geoid_v1
0,230132213022331,150296,18042,13,49,20,fixed,Q1,2021,6,...,1400000US06073003115,6073003115,31.15,CT,1532911,0,"list(c(-117.031860351562, -117.0263671875, -11...",6,073,003115
1,230121200021331,177210,14681,10,25,5,fixed,Q1,2021,6,...,1400000US06079010707,6079010707,107.07,CT,14046662,10955892,"list(c(-120.855102539062, -120.849609375, -120...",6,079,010707
2,230102300101221,141195,9852,15,36,17,fixed,Q1,2021,6,...,1400000US06001433700,6001433700,4337.00,CT,1311721,0,"list(c(-122.118530273438, -122.113037109375, -...",6,001,433700
3,230132002000102,185117,13621,13,77,27,fixed,Q1,2021,6,...,1400000US06037532101,6037532101,5321.01,CT,1383491,52594,"list(c(-118.10302734375, -118.097534179688, -1...",6,037,532101
4,230102321131320,31037,35988,38,12,2,fixed,Q1,2021,6,...,1400000US06085512200,6085512200,5122.00,CT,262653293,2006686,"list(c(-121.66259765625, -121.657104492188, -1...",6,085,512200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361846,230133212201211,134850,23832,24,6,2,mobile,Q2,2021,6,...,1400000US06025940000,6025940000,9400.00,CT,114035418,3024505,"list(c(-114.548950195312, -114.54345703125, -1...",6,025,940000
361847,230133212201300,44735,5704,31,2,1,mobile,Q2,2021,6,...,1400000US06025940000,6025940000,9400.00,CT,114035418,3024505,"list(c(-114.54345703125, -114.537963867188, -1...",6,025,940000
361848,230133212203121,29031,6718,66,1,1,mobile,Q2,2021,6,...,1400000US06025940000,6025940000,9400.00,CT,114035418,3024505,"list(c(-114.537963867188, -114.532470703125, -...",6,025,940000
361849,230133212223222,18932,5928,86,1,1,mobile,Q2,2021,6,...,1400000US06025940000,6025940000,9400.00,CT,114035418,3024505,"list(c(-114.5654296875, -114.559936523438, -11...",6,025,940000
361850,230133212303221,40171,23427,30,2,1,mobile,Q2,2021,6,...,1400000US06025940000,6025940000,9400.00,CT,114035418,3024505,"list(c(-114.384155273438, -114.378662109375, -...",6,025,940000

### FCC 477 Census Tracts

- tract	Census Tract
- max_dn:	The average maximum advertised downstream speed offered by provider in the census tract by block
- max_up:	The average maximum advertised upstream speed offered by the provider in the census tract by block
- dn10:	    The average count of providers offering advertised downstream greater than 10 by block
- dn100:	The average count of providers offering advertised downstream greater than 100 by block
- dn250:	The average count of providers offering advertised downstream greater than 250 by block
- fiber_100u:	The average count of providers offiering fiber by block

In [15]:
fcc_df_ca = pd.read_csv(FCC_DATA_FILE)

In [16]:
fcc_df_ca

,tract,max_dn,max_up,dn10,dn100,dn250,fiber_100u,state
0,6001400100,826.948052,402.597403,3.155844,1.233766,1.103896,0.428571,6
1,6001400200,1449.951220,709.756098,4.439024,3.024390,1.707317,0.951220,6
2,6001400300,720.142857,626.373626,4.329670,2.428571,1.208791,0.571429,6
3,6001400400,1592.000000,731.578947,5.175439,3.473684,2.245614,1.350877,6
4,6001400500,1655.755556,792.222222,5.511111,3.622222,2.088889,1.177778,6
...,...,...,...,...,...,...,...,...
8039,6115040800,223.012945,15.517799,2.514563,0.210356,0.210356,0.000000,6
8040,6115040901,64.796748,11.056911,2.154472,0.040650,0.040650,0.000000,6
8041,6115040902,212.964856,17.955272,2.463259,0.194888,0.194888,0.003195,6
8042,6115041000,68.051282,13.038462,2.287179,0.043590,0.030769,0.000000,6
8043,6115041100,43.607710,8.707483,1.278912,0.000000,0.000000,0.000000,6

### SPDF GeoPandas

In [17]:
tiles = gp.read_file(SPDF_DATA_FILE)

In [18]:
tiles.head()

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,06,013,370000,1400000US06013370000,06013370000,3700,CT,999356.0,0.0,"POLYGON ((-122.32697 37.93502, -122.32610 37.9..."
1,06,001,442301,1400000US06001442301,06001442301,4423.01,CT,1429049.0,0.0,"POLYGON ((-121.97010 37.53047, -121.96894 37.5..."
2,06,037,405101,1400000US06037405101,06037405101,4051.01,CT,1121229.0,0.0,"POLYGON ((-117.96926 34.09945, -117.96489 34.0..."
3,06,037,199800,1400000US06037199800,06037199800,1998,CT,651258.0,0.0,"POLYGON ((-118.21562 34.07364, -118.21036 34.0..."
4,06,037,291300,1400000US06037291300,06037291300,2913,CT,2353751.0,45836.0,"POLYGON ((-118.30915 33.86198, -118.30915 33.8..."

## Joining Datasets
- Inner join on tract in FCC & GEOID in Ookla

In [19]:
ookla_df_ca_geo = ookla_df_ca.groupby(['GEOID']).mean().reset_index()

In [20]:
ookla_df_ca_geo.describe()

,GEOID,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,year,STATEFP,COUNTYFP,TRACTCE,NAME,ALAND,AWATER
count,7.501000e+03,7.501000e+03,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.0,7501.0,7501.000000,7501.000000,7501.000000,7.501000e+03,7.501000e+03
mean,6.055588e+09,2.300475e+14,126840.104124,28195.005983,29.685800,32.357774,9.799925,2021.0,6.0,55.388215,199447.027063,1994.470271,5.376798e+07,1.178689e+06
std,2.674184e+07,1.083714e+12,41604.382000,17105.625694,22.999500,29.553258,8.031695,0.0,0.0,26.817958,242710.946639,2427.109466,4.322371e+08,1.674413e+07
min,6.001400e+09,2.122333e+14,2678.000000,114.000000,9.000000,1.000000,1.000000,2021.0,6.0,1.000000,100.000000,1.000000,0.000000e+00,0.000000e+00
25%,6.037291e+09,2.301023e+14,109257.142857,15403.473684,21.590909,13.761194,4.780488,2021.0,6.0,37.000000,8500.000000,85.000000,1.144293e+06,0.000000e+00
50%,6.059075e+09,2.301231e+14,125394.166667,23184.357143,24.296296,24.863636,7.796178,2021.0,6.0,59.000000,62634.000000,626.340000,2.037300e+06,0.000000e+00
75%,6.073017e+09,2.301320e+14,142531.917526,37437.531250,29.247423,41.789474,12.533333,2021.0,6.0,73.000000,404800.000000,4048.000000,5.165122e+06,1.379100e+04
max,6.115041e+09,2.301332e+14,616727.333333,157569.733333,746.000000,451.000000,106.125000,2021.0,6.0,115.000000,990000.000000,9900.000000,1.800491e+10,1.098469e+09

In [21]:
fcc_df_ca.describe()

,tract,max_dn,max_up,dn10,dn100,dn250,fiber_100u,state
count,8.044000e+03,8044.000000,8044.000000,8044.000000,8044.000000,8044.000000,8044.000000,8044.0
mean,6.054878e+09,858.671322,248.904019,3.071252,1.742901,1.102144,0.302264,6.0
std,2.652440e+07,316.178973,340.085340,1.232888,0.806797,0.522406,0.368672,0.0
min,6.001400e+09,1.500000,0.064000,0.000000,0.000000,0.000000,0.000000,6.0
25%,6.037264e+09,833.763889,52.546741,2.190476,1.227534,0.944444,0.000000,6.0
50%,6.059052e+09,940.000000,115.000000,2.888889,1.659787,1.000000,0.125000,6.0
75%,6.073016e+09,954.962533,343.315841,3.761905,2.168275,1.255378,0.543277,6.0
max,6.115041e+09,10000.000000,10000.000000,10.117647,6.391304,5.666667,2.549020,6.0

In [22]:
fcc_ookla_ca_geo_merge_inner = pd.merge(fcc_df_ca, ookla_df_ca_geo, left_on=['tract'], right_on=['GEOID'], how='inner')

In [23]:
fcc_ookla_ca_geo_merge_inner.describe()

,tract,max_dn,max_up,dn10,dn100,dn250,fiber_100u,state,GEOID,quadkey,...,avg_lat_ms,tests,devices,year,STATEFP,COUNTYFP,TRACTCE,NAME,ALAND,AWATER
count,7.496000e+03,7496.000000,7496.000000,7496.000000,7496.000000,7496.000000,7496.000000,7496.0,7.496000e+03,7.496000e+03,...,7496.000000,7496.000000,7496.000000,7496.0,7496.0,7496.000000,7496.000000,7496.000000,7.496000e+03,7.496000e+03
mean,6.055575e+09,852.791295,242.778153,3.053214,1.720397,1.089481,0.298100,6.0,6.055575e+09,2.300474e+14,...,29.455183,32.373501,9.804301,2021.0,6.0,55.375667,199038.640475,1990.386405,5.372706e+07,1.108933e+06
std,2.673866e+07,321.606207,343.038863,1.226185,0.804574,0.519481,0.368041,0.0,2.673866e+07,1.084073e+12,...,19.731785,29.554220,8.031812,0.0,0.0,26.815283,242119.279113,2421.192791,4.323484e+08,1.620567e+07
min,6.001400e+09,1.500000,0.064395,0.000000,0.000000,0.000000,0.000000,6.0,6.001400e+09,2.122333e+14,...,9.000000,1.000000,1.000000,2021.0,6.0,1.000000,100.000000,1.000000,0.000000e+00,0.000000e+00
25%,6.037291e+09,821.951537,49.175640,2.172167,1.200000,0.930975,0.000000,6.0,6.037291e+09,2.301023e+14,...,21.587518,13.778245,4.782941,2021.0,6.0,37.000000,8404.000000,84.040000,1.144204e+06,0.000000e+00
50%,6.059075e+09,940.000000,113.148715,2.875000,1.634955,1.000000,0.115789,6.0,6.059075e+09,2.301231e+14,...,24.295689,24.895147,7.798305,2021.0,6.0,59.000000,62631.500000,626.315000,2.035245e+06,0.000000e+00
75%,6.073017e+09,953.333333,322.729231,3.735481,2.121212,1.236954,0.534525,6.0,6.073017e+09,2.301320e+14,...,29.225055,41.810555,12.541616,2021.0,6.0,73.000000,404701.250000,4047.012500,5.153980e+06,1.375400e+04
max,6.115041e+09,10000.000000,10000.000000,10.117647,6.391304,5.000000,2.549020,6.0,6.115041e+09,2.301332e+14,...,396.866667,451.000000,106.125000,2021.0,6.0,115.000000,990000.000000,9900.000000,1.800491e+10,1.098469e+09

In [24]:
fcc_ookla_ca_geo_merge_outer = pd.merge(fcc_df_ca, ookla_df_ca_geo, left_on=['tract'], right_on=['GEOID'], how='left')

In [25]:
fcc_ookla_ca_geo_merge_outer.describe()

,tract,max_dn,max_up,dn10,dn100,dn250,fiber_100u,state,GEOID,quadkey,...,avg_lat_ms,tests,devices,year,STATEFP,COUNTYFP,TRACTCE,NAME,ALAND,AWATER
count,8.044000e+03,8044.000000,8044.000000,8044.000000,8044.000000,8044.000000,8044.000000,8044.0,7.496000e+03,7.496000e+03,...,7496.000000,7496.000000,7496.000000,7496.0,7496.0,7496.000000,7496.000000,7496.000000,7.496000e+03,7.496000e+03
mean,6.054878e+09,858.671322,248.904019,3.071252,1.742901,1.102144,0.302264,6.0,6.055575e+09,2.300474e+14,...,29.455183,32.373501,9.804301,2021.0,6.0,55.375667,199038.640475,1990.386405,5.372706e+07,1.108933e+06
std,2.652440e+07,316.178973,340.085340,1.232888,0.806797,0.522406,0.368672,0.0,2.673866e+07,1.084073e+12,...,19.731785,29.554220,8.031812,0.0,0.0,26.815283,242119.279113,2421.192791,4.323484e+08,1.620567e+07
min,6.001400e+09,1.500000,0.064000,0.000000,0.000000,0.000000,0.000000,6.0,6.001400e+09,2.122333e+14,...,9.000000,1.000000,1.000000,2021.0,6.0,1.000000,100.000000,1.000000,0.000000e+00,0.000000e+00
25%,6.037264e+09,833.763889,52.546741,2.190476,1.227534,0.944444,0.000000,6.0,6.037291e+09,2.301023e+14,...,21.587518,13.778245,4.782941,2021.0,6.0,37.000000,8404.000000,84.040000,1.144204e+06,0.000000e+00
50%,6.059052e+09,940.000000,115.000000,2.888889,1.659787,1.000000,0.125000,6.0,6.059075e+09,2.301231e+14,...,24.295689,24.895147,7.798305,2021.0,6.0,59.000000,62631.500000,626.315000,2.035245e+06,0.000000e+00
75%,6.073016e+09,954.962533,343.315841,3.761905,2.168275,1.255378,0.543277,6.0,6.073017e+09,2.301320e+14,...,29.225055,41.810555,12.541616,2021.0,6.0,73.000000,404701.250000,4047.012500,5.153980e+06,1.375400e+04
max,6.115041e+09,10000.000000,10000.000000,10.117647,6.391304,5.666667,2.549020,6.0,6.115041e+09,2.301332e+14,...,396.866667,451.000000,106.125000,2021.0,6.0,115.000000,990000.000000,9900.000000,1.800491e+10,1.098469e+09