In [23]:
import pandas as pd
pd.set_option("display.max_columns", 500)

In [4]:
ookla_combined_fl = pd.read_csv("FLORIDA/ookla_combined_fl.csv")
fcc_477_census_tract_FL = pd.read_csv("FLORIDA/fcc_477_census_tract_FL.csv")
acs_2019_FL = pd.read_csv("FLORIDA/acs_2019_FL.csv")

In [10]:
ookla_combined_fl.head()

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,type,quarter,year,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,tile
0,320201332021332,90726,28194,35,3,2,fixed,Q1,2021,12,37,970302,1400000US12037970302,12037970302,9703.02,CT,126051207,58611667,"list(c(-85.001220703125, -84.9957275390625, -8..."
1,320231100220123,159542,31827,14,60,10,fixed,Q1,2021,12,99,905,1400000US12099000905,12099000905,9.05,CT,4601460,244009,"list(c(-80.1287841796875, -80.123291015625, -8..."
2,320231102200112,211000,52752,14,37,18,fixed,Q1,2021,12,99,5916,1400000US12099005916,12099005916,59.16,CT,3155445,0,"list(c(-80.123291015625, -80.1177978515625, -8..."
3,320231223033003,115365,20575,15,7,5,fixed,Q1,2021,12,87,971200,1400000US12087971200,12087971200,9712.00,CT,3954857,3876328,"list(c(-81.0736083984375, -81.068115234375, -8..."
4,320212301232330,217592,48549,9,21,8,fixed,Q1,2021,12,57,11906,1400000US12057011906,12057011906,119.06,CT,1560086,4190,"list(c(-82.496337890625, -82.4908447265625, -8..."

In [8]:
fcc_477_census_tract_FL.head()

,tract,max_dn,max_up,dn10,dn100,dn250,fiber_100u,state
0,12001000200,979.959184,53.995265,1.925170,1.000000,1.000000,0.020408,12
1,12001000301,990.015000,34.653840,1.560000,1.060000,1.000000,0.000000,12
2,12001000302,989.663158,44.797558,1.178947,1.010526,1.000000,0.010526,12
3,12001000400,947.382979,33.170979,1.329787,0.946809,0.946809,0.000000,12
4,12001000500,967.066914,392.588372,2.130112,1.405204,1.364312,0.371747,12

In [15]:
ookla_combined_fl.GEOID.nunique()

4116

In [28]:
len(ookla_combined_fl)

259468

In [16]:
fcc_477_census_tract_FL.tract.nunique()

4205

In [29]:
len(fcc_477_census_tract_FL)

4205

In [30]:
ookla_fcc = pd.merge(ookla_combined_fl, fcc_477_census_tract_FL, left_on="GEOID", right_on="tract")

In [31]:
len(result)

259390

In [32]:
result.tract.nunique()

4105

In [33]:
result.GEOID.nunique()

4105